/* universal Style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter','Merriweather', serif;
    
}
/* header top */
.header-top{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    border-radius: 16px;
    max-width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    flex-shrink: 0;
    margin: 50px 140px 0 150px;
    
}
/* header-title */
.header-title{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 227px 531px 0 530px;

}
.header-text-two{
    color: #FFF;
    max-width: 672px;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    padding: 5px 344px 177px 344px;
    
}
/* main section one */
.main-section-one{
    width: 1300px;
    height: 950px;
    margin: 120px 140px 120px 140px;
    border: 2px solid orange;
    align-items: center;
    
}
.section-one-h2{
    color: #F00;
    margin-top: 120px;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.section-one-p{
    color: #F00;
    margin-top: 48px;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.section-two-catagories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.new-year-photo{
    max-width: 802.9px;
    height: 500px;
    margin-bottom: 50px;
    padding: 50px 398px 0px 399px;
}
/* Main section two */
.section-two-one{
    
}
.main-section-two-midnight-party{
    background-image: linear-gradient(45deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    border-radius: 16px;
    max-width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    margin: 50px 140px 0 140px;
}
.main-section-two-welcome{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    width: 642px;
    padding: 126px 0 0 126px;
}
.main-section-two-details{
    color: rgba(255, 255, 255, 0.80);
    width: 697px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 24px 39px 48px 126px;
    /* padding-left: 126px;
    padding-right: 39px; */
    line-height: 30px; /* 166.667% */
}
.main-section-two-midnight-party{
    display: flex;
}
#section-two-image2024{
    
    width: 319.83px;
    height: 464.662px;
    padding: 68px 138px 167px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
#section-two-Join{
    text-decoration: none;
    color: #FFF;
    padding: 0 0 192px 158px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

/* Third Section */
.main-section-third{
    max-width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px 140px 120px 140px;
    border: 3px solid orange;
}
.third-div-1{
    max-width: 549px;
    max-height: 168px;
    padding: 100px 386px 214px 385px;
}
.place-d-t{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}
.time-span{
    color: #070211;
}
.join-button{
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 48px;
    margin-left: 200px;
}

/* main more to be done */

/* Fourth Section */
.main-section-four{
    max-width: 1320px;
    background: #FFF;
    display: flex;
    margin: 120px 140px 120px 140px;
    
}
.best-offer{
    
}
.best-offer-title{
    max-width: 207px;
    height: 29px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 104px;
}
.Coming-soon{
        max-width: 328px;
        height: 29px;
        color: #070211;
        font-family: Merriweather;
        font-size: 48px;
        font-weight: 900;
        text-transform: capitalize;
        margin: 22px 0 22px 0;
}
.coming-soon-details{
        max-width: 393px;
        max-height: 128px;
        color: rgba(7, 2, 17, 0.60);
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px; /* 160% */
}
.section-four-image{
    max-width: 463px;
    max-height: 463px;
    border-radius: 100%;
    border: 15px solid #F00;
    margin-left: 70px;
    margin-right: 118px;

}
#image-section-four{
    padding: 49px 49px 49px 49px;
}
.logo-24{
    max-width: 126px;
    height: 58px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.logo-right-details{
    max-width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
#group-96{
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    margin-bottom: 54px;
}

/* holiday section (section-five) */

/* footer */
.footer-width{
    max-width: 1600px;
    height: 609px;
    background: #070211;
    margin: 0 auto;
    background-size: cover;
    flex-shrink: 0;
}
.footer-address{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}

